@model Model.EntityFramework.NewsCategory
@{
    ViewBag.Title = "TravelHappy | Thêm mới danh mục tin tức";
    ViewBag.Name = ViewBag.Name_Session;
    ViewBag.ImageUser = ViewBag.ImageUser_Session;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header_h1{
    Thêm mới danh mục tin tức
}
@section header_a{
    Thêm mới danh mục tin tức
}
@section jsFooter{
    <script>
        $(function () {
            var editor = CKEDITOR.replace('txtDescription', {
                customConfig:'/Assets/Admin/plugins/ckeditor/config.js'
            });
        });
    </script>
}
<div class="container">
    @using (Html.BeginForm("Create", "NewsCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        //Nội dung
        <div class="row">
            <div class="col-md-4">
                <h2>Nội dung danh mục</h2>
                    <p>Chọn ảnh đại diện</p>
                    <input type="file" name="file" accept="image/x-png,image/jpeg" />
                <br />
                <button class="btn btn-primary" type="submit">Lưu</button>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="clearfix">
                            @Html.ValidationSummary(false, "", new { @class = "error_custom pull-right" })
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label id="error_NameNewsCategory">Tên danh mục</label>
                            <em class="pull-right">@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</em>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Tên danh mục" })
                        </div>
                        <div class="form-group">
                            <label id="error_DescriptionNewsCategory">Mô tả</label>
                            <em class="pull-right">@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })</em>
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Tên danh mục", @id = "txtDescription" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        //./Nội dung

        //SEO
        <div class="row">
            <div class="col-md-4">
                <h2>Tối ưu SEO</h2>
                <p>Thiết lập tiêu đề trang, thẻ mô tả, đường dẫn. Những thông tin này xác định cách bài viết xuất hiện trên công cụ tìm kiếm.</p>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label id="error_MetaTitleNewsCategory">Thẻ tiêu đề</label>
                            <em class="pull-right">@Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })</em>
                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", @placeholder = "Thẻ tiêu đề" })
                        </div>
                        <div class="form-group">
                            <label id="error_MetaDescriptionNewsCategory">Thẻ mô tả</label>
                            <em class="pull-right">@Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })</em>
                            @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control", @placeholder = "Thẻ mô tả" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        //./SEO

        //Trạng thái
        <div class="row">
            <div class="col-md-4">
                <h2>Trạng thái</h2>
                <p>Cho phép thiết lập thời gian sản phẩm được hiển thị.</p>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.CheckBoxFor(model => model.Status, new { @checked = "checked" }) &nbsp; <b>Hiển thị</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11">
            <button class="btn btn-primary pull-right" type="submit">Lưu</button>
        </div>
        //./Trạng thái
    }
</div>