@model PagedList.IPagedList<Model.EntityFramework.ProductCategory>
@using PagedList.Mvc;
@{
    ViewBag.Title = "TravelHappy | Quản lý danh mục sản phẩm";
    ViewBag.Name = ViewBag.Name_Session;
    ViewBag.ImageUser = ViewBag.ImageUser_Session;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header_h1{
    Quản lý danh mục sản phẩm
}

@section header_a {
    Quản lý danh mục sản phẩm
}
@section jsFooter{
    <script src="~/Assets/Admin/controllers/ProductCategoryController.js"></script>
}
<div class="container">
    <div class="col-md-6">
        <a href="/Admin/ProductCategory/Create" class="btn btn-primary">Thêm mới</a>
        <hr />
    </div>
    <div class="col-md-11">
        <div class="panel panel-default">
            <div class="panel-heading">
                @*Search*@
                <div class="row">
                    <div class="col-md-11">
                        @using (Html.BeginForm("Index", "ProductCategory", FormMethod.Get))
                        {
                            <div class="input-group">
                                <input type="text" class="form-control" value="@ViewBag.QuerySearch" name="q" placeholder="Nhập từ khóa tìm kiếm ...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Tìm kiếm</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                @*./Search*@

            </div>
            <div class="panel-body">

                @*List*@
                <table class="table">
                    <thead>
                    <th></th>
                    <th>Tên danh mục</th>
                    <th>Ngày tạo</th>
                    <th>Trạng thái</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>
                                    <img src="~/images/images/ProductCategory/@item.Image" class="img-responsive center-block" width="100" alt="@item.Image" />
                                </td>
                                <td>
                                    <a href="/Admin/ProductCategory/Update/@item.ID">
                                        @item.Name
                                    </a>
                                </td>
                                <td>@Convert.ToDateTime(item.CreatedDate).ToShortDateString()</td>
                                <td>
                                    <a href="#" data-id="@item.ID" class="btn-active">@(item.Status ? "Hiển thị" : "Ẩn")</a>
                                </td>
                                <td>
                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa danh mục : " + item.Name + " không ?",
                                   OnComplete = "$('#row_" + item.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, q = ViewBag.QuerySearch }))
                @*./List*@
            </div>
        </div>

    </div>
</div>