@model Model.EntityFramework.User
@{
    ViewBag.Title = "TravelHappy | Thêm mới tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header_h1{
    Thêm tài khoản
}

@section header_a {
    Thêm tài khoản
}

<div class="container">
    @using (Html.BeginForm("Create", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4">
                <h3>Thông tin liên quan đến tài khoản</h3>
                <p>Tất cả thông tin liên quan đến tài khoản</p>
                <button type="submit" class="btn btn-primary" id="btnSaveUser">Lưu</button>
                <hr />
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.ValidationSummary(false,"",new {@class="error_custom" })
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Họ và tên</label>
                                <em class="pull-right">@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</em>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Họ và tên" })
                                <br />
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <em class="pull-right">@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</em>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <label>Địa chỉ</label>
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Địa chỉ" })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="file-field">
                                    <label>
                                        <a href="#">Chọn ảnh đại diện</a>
                                    </label>
                                    <input type="file" name="Image_User" accept="image/x-png,image/jpeg" />
                                </div>
                                <i style="font-size:8em;" class="fa fa-image text-center"></i>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <label>Số điện thoại</label>
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Số điện thoại" })
                                <br />
                            </div>
                            <div class="col-md-8">
                                <label>Tên đăng nhập</label>
                                <em class="pull-right">@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })</em>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <label>Mật khẩu</label>
                                <em class="pull-right">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</em>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                                <br />
                            </div>
                            <div class="col-md-6">
                                <label>Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" id="ResetPassword" placeholder="Nhập lại mật khẩu" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Quyền quản trị</h3>
                <p>Chọn các phần mà tài khoản này có thể truy cập được.</p>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="checkbox" />
                        <label>Giới hạn quyền truy cập</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right" id="btnSaveUserBottom">Lưu</button>
            </div>
        </div>
    }
</div>
